h2,h3{
    text-align:center;
    color: blue;
}
button:hover{
    background-color:red;
    /* padding:50px; */

}
#google{
    margin:30px;
    padding:50px;
    border:1px solid black;
    /* background-color:white; */


}
#phone{
    margin:30px;
    padding:50px;
    border:1px solid black;
    /* background-color:white; */
}
#net{
    margin:30px;
    padding:50px;
    border:1px solid black;
    /* background-color:white; */
}
/* header{
    background-color: blue;
    color:white;
    width:250vh;
    height:75px;
} */
header p{
    padding:25px;
    margin:5px;
}
#lib
{
    float:right;
    
}
#lib{
    margin:10px;
    float:right;
    padding:50px;
}
#my{
    margin:10px;
    float:right;
    padding:50px;
}
#logo
{
    margin:10px;
    float:left;
    padding:50px;
}